*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4A98F7;
}
.container{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 1050px;
}
.tools-board{
    width: 210px;
    padding: 15px 22px 0;

}
.tools-board .row {
    margin-bottom: 20px;
}
.row .options {
    list-style: none;
    margin: 10px 0 0 5px;
}
.rows .options .option {
    display:flex;
    cursor: pointer;
    align-items:center;
    margin-bottom: 10px;
}
.option:is(:hover, .active) img {
filter: contrast(100%) brightness(100%) hue-rotate(900deg) saturate(3000%) sepia(90%) invert(17%);

}
.option :where(span, label){
    color: #5A6168;
    cursor: pointer;
    padding-left: 10px;

}
.option #fill-color{
    cursor:pointer;
    height: 40px;
    width: 40px;
}

section {
    background: #fff;
    border-radius: 7px;

}
.drawing-board{
    flex:1;
}